# H1: Data Science Tools and Ecosystem

## Author
Nick Cunningham

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List common libraries used by Data Scientists
- List some tools used by Data Scientists
- Demonstrate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
| ----- |
| RStudio |
| TensorFlow |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335